process {

    withName: '.*DRAGENA_GTC2VCF' {
    publishDir = [
        path: { "${params.outdir}/vcf" },
        mode: params.publish_dir_mode,
        saveAs: { filename ->
            if( filename.endsWith('.vcf.gz') || filename.endsWith('.vcf.gz.tbi') ) {
                filename
            } else {
                null
            }
        }
    ]
}

}